<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Contact</title>
  </head>
  <body style="background-image: url(static/b4.jpg);background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; ">
    <ul class="nav justify-content-center" style="border: 1px solid;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="font-family: 'Times New Roman', Times, serif;color:black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop" style="font-family: 'Times New Roman', Times, serif;color:black;">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="font-family: 'Times New Roman', Times, serif;color:black;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/contact" style="font-family: 'Times New Roman', Times, serif;color:black">Contact</a>
        </li>
    </ul>

    <br>
    <h3 style="text-align: center;font-family:'Times New Roman', Times, serif">Contact Us</h3>
    <br>
    <br>
    
    <form method="post" action="/contact">
      {%csrf_token%}
        <div class="mb-3">
          <label for="email" class="form-label" style="margin-left:550px;font-family:'Times New Roman', Times, serif">Email address</label>
          <input type="email" class="form-control" id="email" name="email" style="width:400px ;margin-left:550px">
        </div>
        <br>
        <div class="mb-3">
            <label for="name" class="form-label"style="margin-left:550px;font-family:'Times New Roman', Times, serif">Name</label>
            <input type="name" class="form-control" id="name" name="name"  style="width:400px ;margin-left:550px">
        </div>
        
        <br>
        <div class="mb-3">
            <label for="phone" class="form-label" style="margin-left:550px;font-family:'Times New Roman', Times, serif">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" style="width:400px ;margin-left:550px">
        </div>
        <br>
        <div class="mb-3">
            <label for="reason" class="form-label" style="margin-left:550px;font-family:'Times New Roman', Times, serif">Reason</label>
            <input type="text" class="form-control" id="reason" name="reason" style="width:400px ;margin-left:550px">
        </div>
        <br>
        <div style="text-align:center">
            <button  type="submit" class="btn btn-success" >Submit</button>
        </div>

    </form>

    
    
    
  
  
  
  














    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>